<<<<<<< HEAD
h1{
font-size: 30px;
text-align: center;
color: #dde0cd
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
color: #dde0cd
}

body {
background-color: #135c56;
=======
h1{
font-size: 30px;
text-align: center;
color: #dde0cd
}

p{
font-size: 20px;
text-align: center;
font-family: Helvetica, sans-serif;
color: #dde0cd
}

body {
background-color: #135c56;
>>>>>>> 9e379974ec376b4a803d9aaa76dd7d8f5a753750
}